/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  /*background: url("../img/film-strip.jpeg") no-repeat center center fixed; */
  /* background-size: cover; */
  color: #222;
  font-size: 62.5%;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

img {
  height: auto;
  width: 100%;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ========= Main CSS ===================== */
html,
body {
  min-height: 100%;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#878787+0,848484+8,848484+8,909090+17,989898+25,606060+41,727272+50,606060+61,606060+61,545454+70,545454+70,717171+80,676767+91,616161+100 */
  background: rgb(135, 135, 135); /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    rgba(135, 135, 135, 1) 0%,
    rgba(132, 132, 132, 1) 8%,
    rgba(132, 132, 132, 1) 8%,
    rgba(144, 144, 144, 1) 17%,
    rgba(152, 152, 152, 1) 25%,
    rgba(96, 96, 96, 1) 41%,
    rgba(114, 114, 114, 1) 50%,
    rgba(96, 96, 96, 1) 61%,
    rgba(96, 96, 96, 1) 61%,
    rgba(84, 84, 84, 1) 70%,
    rgba(84, 84, 84, 1) 70%,
    rgba(113, 113, 113, 1) 80%,
    rgba(103, 103, 103, 1) 91%,
    rgba(97, 97, 97, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(135, 135, 135, 1) 0%,
    rgba(132, 132, 132, 1) 8%,
    rgba(132, 132, 132, 1) 8%,
    rgba(144, 144, 144, 1) 17%,
    rgba(152, 152, 152, 1) 25%,
    rgba(96, 96, 96, 1) 41%,
    rgba(114, 114, 114, 1) 50%,
    rgba(96, 96, 96, 1) 61%,
    rgba(96, 96, 96, 1) 61%,
    rgba(84, 84, 84, 1) 70%,
    rgba(84, 84, 84, 1) 70%,
    rgba(113, 113, 113, 1) 80%,
    rgba(103, 103, 103, 1) 91%,
    rgba(97, 97, 97, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(135, 135, 135, 1) 0%,
    rgba(132, 132, 132, 1) 8%,
    rgba(132, 132, 132, 1) 8%,
    rgba(144, 144, 144, 1) 17%,
    rgba(152, 152, 152, 1) 25%,
    rgba(96, 96, 96, 1) 41%,
    rgba(114, 114, 114, 1) 50%,
    rgba(96, 96, 96, 1) 61%,
    rgba(96, 96, 96, 1) 61%,
    rgba(84, 84, 84, 1) 70%,
    rgba(84, 84, 84, 1) 70%,
    rgba(113, 113, 113, 1) 80%,
    rgba(103, 103, 103, 1) 91%,
    rgba(97, 97, 97, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#878787', endColorstr='#616161',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body {
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

h1 {
  color: #000;
  display: inline-block;
  font-family: "Playfair Display SC", serif;
  font-size: 6vw;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  text-shadow: 15px 15px 15px rgba(241, 241, 238, 0.664);
  width: 60vw;
}

img[src="./src/img/movie-icon2.png"] {
  -webkit-animation: rotate 3s 2s;
  -webkit-animation-iteration-count: 3;
  animation: rotate 3s 2s;
  animation-iteration-count: 3;
  display: inline-block;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 3vh;
  width: 15vw;
}

img.bio-pic {
  display: inline-block;
  margin: 15px 0;
  max-height: 35%;
  max-width: 35%;
}

h2 {
  color: #c5c0c3;
  font-family: "Playfair Display SC", serif;
  font-size: 3vw;
  font-weight: 500;
  margin-bottom: 20vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
  width: 75vw;
}

#movie-data-plot,
#tv-data-overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  margin: 40px 0;
}

#movie-cast-crew,
#tv-cast-crew {
  clear: both;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
}

p,
span {
  color: #c5c0c3;
  margin-bottom: 1.5vh;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
}

p,
ul {
  color: #c5c0c3;
  font-family: "Buda", cursive;
  font-size: 3.5rem;
  font-weight: 500;
  margin-top: 2rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
}

.title {
  color: #c5c0c3;
  font-family: "Buda", cursive;
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 3vh;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
}

.tagline {
  color: #86827475;
  font-family: "Buda", cursive;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 3vh;
  text-align: center;
  text-shadow: 2px 3px 1spx rgba(243, 238, 238, 0.6);
}

a {
  color: darkslategrey;
  font-size: 3rem;
}

a[href="null"] {
  cursor: not-allowed;
}

.character,
.crew,
.director-writer,
.year,
.runtime,
.plot,
.overview,
.revenue,
.release_date,
.createdBy,
.firstAirDate{
  align-self: center;
  color: #c5c0c3;
  font-size: 2.2rem;
  max-width: 75%;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
}

.cast,
.production {
  -webkit-text-decoration-line: underline;
  max-width: 120%;
  text-decoration-line: underline;
}

.character,
.crew {
  text-align: center;
}

.character span,
.crew span {
  display: inline-block;
  margin-right: 15px;
}

ul {
  list-style-type: none;
}

.actor {
  cursor: pointer;
}

.production {
  cursor: pointer;
}

p.bio {
  font-size: 1.4rem;
  margin: 5px;
  transition: all 0.6s ease-in-out 1.5s;
}

p.bio:hover {
  -webkit-transform: scale(1.2);
  margin-bottom: 35px;
  margin-left: 60px;
  margin-top: 35px;
  transform: scale(1.2);
}

li:not(.crew) {
  font-size: 2.2rem;
  margin: 0 25px;
}

li:not(.crew) span {
  display: inline-block;
  margin: 0 15px;
}

#poster {
  float: right;
  margin: 15vh 3vw;
  max-width: 30vw;
}

img[src="N/A"] {
  border: 2px solid black;
}

.error_message {
  background: rgba(255, 255, 255, 0.4);
  color: #c5c0c3;
  font-size: 3vw;
  margin: 0 auto;
  max-width: 55%;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
}

/* ============ CSS for the Form Box ====================== */

fieldset {
  border: 0 none;
  margin: 20px;
}

legend {
  color: #c5c0c3;
  font-family: "Playfair Display SC", serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0 auto;
  margin-left: 25vw;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
}

hr {
  background-color: #050709;
  color: #050709;
  height: 3px;
  margin: 0 auto;
  width: 75vw;
}

input,
textarea,
select {
  border: 0 none;
  border-radius: 12px;
  color: rgba(000, 000, 000, 0.4);
  flex: 1 1 auto;
  font-size: 2rem;
  height: 3rem;
  margin-top: 0.8rem;
  max-width: 35vw;
  order: 2;
  padding: 2px 5px;
  transition: all 0.7s;
}
input[id="name"] {
  background-image: url(../img/search.png);
  background-position: 2px 6px;
  background-repeat: no-repeat;
  text-indent: 25px;
}
input[id="year"] {
  height: 2.5rem;
  text-indent: 15px;
}
input[id="r1"],
[id="r2"] {
  height: 1rem;
  margin-left: 3px;
}

::-moz-selection {
  background: rgba(41, 216, 158, 0.52);
  color: black;
}

::selection {
  background: rgba(41, 216, 158, 0.52);
  color: black;
}

input::-moz-selection {
  background: rgba(224, 166, 6, 0.733);
  color: white;
}

input::selection {
  background: rgba(224, 166, 6, 0.733);
  color: white;
}

/* ======== Autocomplete Stylings ======== */

.ui-menu .ui-menu-item {
  font-size: 1.7rem;
}

.ui-menu-item-wrapper:hover {
  background-color: rgba(251, 246, 250, 0.5);
  border: 2px solid black;
  color: rgba(12, 11, 11, 0.4);
}

.ui-widget {
  background-color: #fcfafd;
  border-radius: 8px;
  width: 25vw;
}

/* ====== End Autocomplete Stylings =====  */

input:hover,
textarea:hover,
select:hover {
  background-color: GhostWhite;
  border: 2px solid #292929;
  box-shadow: inset 0 0 7px #292929;
}

/* flexbox styles */

fieldset div {
  align-items: center;
  display: flex;
  margin-left: 25vw;
  width: auto;
}

label {
  color: #c5c0c3;
  cursor: default;
  font-family: "Playfair Display SC", serif;
  font-size: 1.8rem;
  margin-right: 0.7rem;
  margin-top: 0.9rem;
  padding: 2px 0;
  text-align: left;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
  white-space: nowrap;
  width: 25vw;
}

/* label state styles */

input:focus ~ label,
textarea:focus ~ label,
select:focus ~ label {
  color: #030303;
}

button {
  -webkit-transform: scale(1);
  border-radius: 50%;
  font-family: "Playfair Display SC", serif;
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 48vw;
  margin-top: 5vh;
  padding: 2rem;
  transform: scale(1);
  transition: -webkit-transform 0.8s ease-out;
  transition: transform 0.8s ease-out;
  transition: transform 0.8s ease-out, -webkit-transform 0.8s ease-out;
}

button:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#year {
  max-width: 10vw;
}

#radioButton {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  color: #c5c0c3;
  cursor: default;
  display: inline-block;
  font-family: "Playfair Display SC", serif;
  font-size: 1.6rem;
  margin-left: 25vw;
  margin-top: 2rem;
  padding: 2px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
  user-select: none;
  white-space: nowrap;
}

input[type="radio"] {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.radioLabel {
  display: inline-block;
  font-family: "Playfair Display SC", serif;
  font-size: 1.7rem;
  margin-left: 2rem;
  margin-right: 0.7rem;
  width: auto;
}

/*End of CSS for Form Box*/

/* ======= Sticky Footer ============= */

.site-footer {
  background: rgba(0, 0, 0, 0.5);
  flex-shrink: 0;
}
.tmdbLogo {
  max-width: 7%;
}

.tmdbNotice {
  font-size: 1.5rem;
  text-align: center;
}

/* ====== End Sticky Footer ===*/

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 650px) {
  #poster {
    float: none;
    margin: 25px auto;
  }
  img[alt="No Poster Available"] {
    max-height: 40vh;
  }
  #movie-data-plot {
    clear: right;
  }
  #tv-data-overview {
    clear: right;
  }
  .title {
    margin-top: -20px;
  }
  form {
    margin-top: -25%;
  }
  legend {
    margin: 5px auto;
    width: 100%;
  }
  .searchBoxes {
    margin: 5px auto;
    width: 100%;
  }
  input[id="name"],
  [id="year"] {
    font-size: 1.6rem;
    margin-left: 10px;
  }
  #year {
    max-width: 20vw;
  }
  label {
    margin-left: -20px;
    margin-right: 20px;
  }
  input[type="radio"] {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  #radioButton {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
  }
  .radioLabel {
    margin-left: 15vw;
  }
  .ui-menu .ui-menu-item {
    font-size: 1.2rem;
  }
  li.character,
  .director-writer {
    font-size: 2rem;
  }
  a.movie_url, a.tv_url {
    font-size: 2.2rem;
  }

  button.submit {
    display: block;
    margin: 0 auto;
  }
  button#clear {
    display: block;
    margin: 10px auto;
  }
}

@media only screen and (max-width: 500px) {
  #radioButton {
    margin-left: 7vw;
  }
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
}

/* ==========================================================================
   Key Frames
   ========================================================================== */

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

.movie_url {
  font-size: 2.2vw;
}
